{% extends 'base.html.twig' %}

{% block title %}Create new letter{% endblock %}

{% block stylesheets %}
    <style>
        body {
            padding-top: 50px;
        }
        #letters tfoot th input {
            font-weight: normal;
        }
    </style>
    {#<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />#}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
{% endblock %}

{% block body %}
    {{ include('widgets/nav.html.twig') }}

    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <h1>Letters</h1>
                <table id="letters" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Last</th>
                            <th>First</th>
                            <th>Year</th>
                            <th>Rating</th>
                            {#<th>&nbsp;</th>#}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Last</th>
                            <th>First</th>
                            <th>Year</th>
                            <th>Rating</th>
                            {#<th>&nbsp;</th>#}
                        </tr>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div><!-- /.container -->
{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){

            // Setup - add a text input to each footer cell
            $('#letters tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" class="form-control input-sm" placeholder="Search '+title+'" />' );
            } );

            var table = $('#letters').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('api_letters') }}",
                "columns": [
                    { "data": "nameLast" },
                    { "data": "nameFirst" },
                    { "data": "originYear" },
                    { "data": "rating" }
                ]
            });

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that.search( this.value ).draw();
                    }
                } );
            } );
        });
    </script>
{% endblock %}
