<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The John Updike Letters Project</title>
    <style>
        body {
            font-family: sans-serif;
            color: #222;
            background-color: #f8f8f8;
            font-size: 20px;
        }
        #container {
            max-width: 800px;
            margin: auto;
        }
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="container">
    <h1 class="center">
        The John Updike Letters&nbsp;Project
    </h1>
    <p>
        The John H. Updike Literary Trust has named James Schiff as editor of a volume of John Updike’s letters. Mr. Schiff, who expects to complete the project in 2020, has begun collecting letters from institutional libraries and requesting them from private owners and recipients. If you have letters, postcards, or other materials that you are willing to share, he would welcome photocopies or digital scans. All materials and inquiries will be handled with care and&nbsp;discretion.
    </p>
    <p class="center">
        James Schiff<br/>
        2 Forest Hill Drive<br/>
        Cincinnati, OH  45208<br/>
        <a href="tel:513-284-6012">(513) 284-6012</a><br/>
        <a href="mailto:james.schiff@uc.edu">james.schiff@uc.edu</a><br/>
        <a href="mailto:updikeletters@gmail.com">updikeletters@gmail.com</a>
    </p>
</div>
</body>
</html>