{% extends '@App/base.html.twig' %}

{% block title %}Create new letter{% endblock %}

{% block stylesheets %}
    <style>
        body {
            padding-top: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('AppBundle:widgets:nav.html.twig') }}

    <div class="container">

        <h1>Create new letter</h1>

        {{ include('AppBundle:widgets:letterform.html.twig') }}

    </div><!-- /.container -->
{% endblock %}

{% block javascripts %}
{% endblock %}
